<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <title layout:title="기록정원">기록정원</title></head>
<body>
<main layout:fragment="content">
    <div class="container px-4 py-5" id="content">
        <p class="pb-2">오늘 하루는 어땠나요?</p>
        <div class="diaryForm">
            <form action="/" method="post">
                작성자 <input type="text" name="diaryWriter"><br>
                내용 <input type="text" name="diaryContents"><br>
                <input type="submit" value="작성">
            </form>
        </div>
    </div>
</main>
</body>
</html>