<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Diary">
    <insert id="save" parameterType="diary">
        insert into diary(diaryWriter, diaryContents, moodToday)
        values(#{diaryWriter}, #{diaryContents}, #{moodToday})
    </insert>

    <select id="findAll" resultType="diary">
        select id, diaryWriter, diaryContents, moodToday, date_format(createdAt, "%Y-%m-%d") as createdAt, diaryHits
        from diary
        order by id asc;
    </select>

    <update id="updateHits" parameterType="Long">
        update diary set diaryHits=diaryHits+1
        where id=#{id}
    </update>
    <select id="findById" parameterType="Long" resultType="diary">
        select id, diaryWriter, diaryContents, diaryHits, date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt
        from diary
        where id=#{id}
    </select>

</mapper>